<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--@author Mikhail Kopylov-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
    <title>Список броней</title>
    <style>
        .container-fluid,
        .row {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            position: relative;
        }

        #app-root {
            min-height: 100%;
            display: block;
            position: relative;
            padding-bottom: 56px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<div class="wrapper" id="app-root">
    <div th:replace="fragments :: navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments :: nav-menu-admin"></div>
            <div id="content">
                <h2>Список броней пользователей</h2>

                <form action="/admin/booking" method="post">
                    <p>Дата брони:
                    <p>С: <input type="datetime-local" name="dateFrom" id="dateFrom" th:value="${dateFrom}">
                        до: <input type="datetime-local" name="dateTo" id="dateTo" th:value="${dateTo}">
                    <div class="col-sm-6">
                        <input class="btn btn-primary" type="submit" value="Обновить"/>
                    </div>
                </form>
                <br>

                <table class="table  table-bordered">
                    <tr>
                        <th scope="col" class="table-primary">Пользователь</th>
                        <th scope="col" class="table-primary">Марка</th>
                        <th scope="col" class="table-primary">Модель</th>
                        <th scope="col" class="table-primary">Время начала</th>
                        <th scope="col" class="table-primary">Время окончания</th>
                        <th scope="col" class="table-primary">Цена</th>
                        <th scope="col" class="table-primary">Статус оплаты</th>
                    </tr>
                    <tr th:each="obj : ${list}">
                        <td>
                            <div th:text="@{${obj[4].email}}"></div>
                        </td>
                        <td>
                            <div th:text="@{${obj[1].name}}"></div>
                        </td>
                        <td>
                            <div th:text="@{${obj[2].name}}"></div>
                        </td>
                        <td>
                            <div th:text="@{${obj[0].dateFrom}}"></div>
                        </td>
                        <td>
                            <div th:text="@{${obj[0].dateTo}}"></div>
                        </td>
                        <td>
                            <div th:text="@{${obj[0].price}}"></div>
                        </td>
                        <td>
                            <div th:switch="@{${obj[0].status}}">
                                <div th:case="PAID">оплачено</div>
                                <div th:case="UNPAID">не оплачено</div>
                                <div th:case="*">неизвестно</div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>