<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
    <style>
        html,
        body {
            height: 100%;
            position: relative;
        }

        #app-root {
            min-height: 100%;
            display: block;
            position: relative;
            padding-bottom: 56px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<div class="wrapper" id="app-root">
    <div th:replace="fragments :: navbar"></div>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h2 style="color: green" th:text="@{${status}}"></h2>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>