<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
>

<!--@author Mikhail Kopylov-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/nav-menu.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
    <style>
        .container-fluid,
        .row {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            position: relative;
        }

        #app-root {
            min-height: 100%;
            display: block;
            position: relative;
            padding-bottom: 56px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <title>Список брендов</title>
</head>

<body>
<div class="wrapper" id="app-root">
    <div th:replace="fragments :: navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments :: nav-menu-admin"></div>
            <div id="content">

                <h2>Список брендов</h2>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col" class="table-primary">Марка</th>
                        <th scope="col" class="table-primary">Действие</th>
                    </tr>
                    <tr th:each="brand : ${list}">
                        <td>
                            <div th:text="@{${brand.name}}"></div>
                        </td>
                        <td><a th:href="@{'/admin/brand/remove/' + ${brand.id}}">Удалить</a> /
                            <a th:href="@{'/admin/brand/edit/' + ${brand.id}}">Редактировать</a>
                        </td>
                    </tr>
                </table>
                <div class="col-sm-6">
                    <input class="btn btn-primary" type="submit" value="Добавить"
                           onclick="location.href='/admin/brand/add'"/>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>