<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Список автомобилей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="wrapper" id="app-root">

    <div th:replace="fragments :: navbar"></div>

    <div class="w3-container">
        <h3>Поиск автомобиля</h3>
        <p/>
        <form action="/getFilteredCars" method='POST'>
            <div class="col-md-8 order-md-1">
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label"><strong>Даты брони</strong></label>
                    <div class="col-sm-10">
                        <label class="col-sm-1">С: </label>
                        <input type="text" name="dateFrom" id="dateFrom">
                        <label class="col-sm-2 col-form-label">по: </label>
                        <input type="text" name="dateTo" id="dateTo">
                        <input type="text" th:value="${notification}" readonly
                               style="border:0; color:red; font-weight:bold;">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label" for="amount">Цена (ед./час):</label>
                    <input type="text" id="amount" name="prices" readonly
                           style="border:0; color:#f6931f; font-weight:bold;">
                    <div class="col-sm-2" id="slider-range"></div>
                </div>
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label"><strong>Марка:</strong></label>
                    <div class="col-sm-2">
                        <select class="custom-select d-block w-100" th:object="${brandId}" th:name="brandId">
                            <option value="0">Все</option>
                            <option th:each="brand : ${brands}"
                                    th:value="${brand.id}"
                                    th:utext="${brand.name}"/>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input id="refresh-btn" name="submit" class="btn btn-primary" type="submit" value="Найти"/>
                </div>
            </div>
        </form>
        <p/>
        <table id="cartable" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="table-primary">Рег. номер</th>
                <th scope="col" class="table-primary">Цена</th>
                <th scope="col" class="table-primary">Брэнд</th>
                <th scope="col" class="table-primary">Город</th>
                <th scope="col" class="table-primary">Тип</th>
                <th scope="col" class="table-primary">Фото</th>
                <th scope="col" class="table-primary">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:utext="${car.regnumber}"></td>
                <td th:utext="${car.price}"></td>
                <td th:utext="${car.getBrand().getName()}"></td>
                <td th:utext="${car.getCity().getName()}"></td>
                <td th:utext="${car.getType().getName()}"></td>
                <td>
                    <div th:if="${(car.image == null)}">
                        <img th:src="@{'/no_photo.png'}" width="100" alt=""/>
                    </div>
                    <div th:if="${(car.image != null)}">
                        <img th:src="@{${imgURL} + ${car.image}}" width="100" alt=""/>
                    </div>
                </td>
                <td>
                    <div th:switch="${privilege}">
                        <div th:case=1>
                            <a th:href="@{'/cars/edit/' + ${car.id}}">Редактировать</a>
                        </div>
                        <div th:case=0>
                            <a th:href="@{'/cars/view/' + ${car.id}}">Просмотр</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: footer"></div>

    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#dateFrom").datepicker({
                minDate: new Date(),
                onClose: function (selectedDate) {
                    $("#dateTo").datepicker("option", "minDate", selectedDate);
                }
            })
                .datepicker('setDate', new Date());
            $("#dateTo").datepicker({
                defaultDate: "+1w",
                onClose: function (selectedDate) {
                    $("#dateFrom").datepicker("option", "maxDate", selectedDate);
                }
            })
                .datepicker('setDate', new Date());

        });


        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 1,
                max: 100000,
                values: [1, 100000],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
        });
    </script>

</div>
</body>
</html>