<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--@author Mikhail Kopylov-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
    <style>
        html,
        body {
            height: 100%;
            position: relative;
        }

        #app-root {
            min-height: 100%;
            display: block;
            position: relative;
            padding-bottom: 56px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <title>Форма оплаты</title>
</head>

<body>
<div class="wrapper" id="app-root">
    <div th:replace="fragments :: navbar"></div>
    <br>
    <div class="w3-container">
        <form action="/doPay" th:object="${card}" method="post">
            <div style="text-align: center;">
                <label class="col-sm-2 col-form-label" for="amount">Номер вашей брони:</label>
                <input type="text" id="bookingId" th:value="${bookingId}" name="bookingId" readonly
                       style="border:0; color:#f6931f; font-weight:bold;">
            </div>
            <div style="text-align: center;">
                <label class="col-sm-2 col-form-label" for="amount">Сумма к оплате, руб.</label>
                <input type="text" id="amount" th:value="${price}" name="price" readonly
                       style="border:0; color:#f6931f; font-weight:bold;">
            </div>
            <br>
            <table class="table table-bordered" border="1" width="" cellpadding="5" style="margin: auto;">
                <tr>
                    <th scope="col" class="table-primary"></th>
                    <th scope="col" class="table-primary">Заполните данные</th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" th:field="*{name}" placeholder="NAME"
                               autofocus="true"/>
                    </td>
                </tr>
                <tr>
                    <td>Card Number</td>
                    <td>
                        <input type="text" th:field="*{number}" placeholder="card number"
                               autofocus="true"/>
                    </td>
                </tr>
                <tr>
                    <td>Expiration (MM/YY)</td>
                    <td>
                        <input type="text" th:field="*{expiration}" placeholder="Expiration"
                               autofocus="true"/>
                    </td>
                </tr>
                <tr>
                    <td>Security Code</td>
                    <td>
                        <input type="text" th:field="*{code}" placeholder="code"
                               autofocus="true"/>
                    </td>
                </tr>
            </table>
            <!--    <input type="text" th:value="${notification}" readonly style="border:0; color:red; font-weight:bold;">-->
            <br>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" style="margin: auto;">Оплатить</button>
            </div>
        </form>
    </div>

    <!--<span th:text="${#request.userPrincipal.getName()}"></span>-->

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>