<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--@author Mikhail Kopylov-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="css/fragments.css" rel="stylesheet" type="text/css">
    <style>
        html,
        body {
            height: 100%;
            position: relative;
        }
        #app-root {
            min-height: 100%;
            display: block;
            position: relative;
            padding-bottom: 56px;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        #emailinput {
            width: 400px;
        }
        #passinput {
            width: 400px;
        }
        #confpassinput {
            width: 400px;
        }
    </style>
    <title>Регистрация</title>
</head>

<body>
<div class="wrapper" id="app-root">
    <div th:replace="fragments :: navbar"></div>

    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
    <h2>Регистрация</h2>
            </div>
        </div>

        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-9">
        <form action="/registration" th:object="${userForm}" method="post">
            <div class="form-group">
                <input type="text" th:field="*{email}" id="emailinput" class="form-control" placeholder="Введите e-mail"
                       required
                       autofocus/>
                <errors th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"/>
                <text style="color: red" th:text="${emailError}"></text>
            </div>
            <div class="form-group">
                <input type="password" th:field="*{password}" id="passinput" class="form-control" placeholder="Введите пароль"
                       required
                       autofocus/>
                <errors th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"/>
            </div>
            <div class="form-group">
                <input type="password" th:field="*{passwordConfirm}" id="confpassinput" class="form-control" placeholder="Подтвердите пароль"
                       required
                       autofocus/>
                <errors th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" style="color: red"/>
                <text th:text="${passwordError}" style="color: red"></text>
            </div>
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
        </form>
                </div>
            </div>
<!--        <a href="/">Главная</a>-->
    </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>